Question 2 - Project 3

1) On average, when looking at violent crime and construction data from 2015, do vicinities (+- 2 blocks from a location) with net new construction have more or less crime than an average vicinity in San Francisco? and if so by, how much?

Motivation/Notes:

This is the second question utilizing datasets for construction and violent crimes in 2015. To complete the analysis to answer question two, we use the "datasceince" library. The goal here is to ultimately figure out if areas with new construction in 2015 had more crime or not utilizing the given coordinates of every violent crime committed in San Francsico. The real challenge in solving this question is defining, categorizing and manipulating the data so it can be compared side by side at scale. We decided to define an area with new construction as a vicinity which is +-2 blocks from a lattitude and location point (a corner on a block in SF). Each vicinity was about 16 (4 Wide x 4 Long) square blocks. The code mainly deals with manipulating the Violence data set but to answer the question we need external data points regarding the city of San Francisco which can be found below.

In [48]:
from datascience import *
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

# First, here we maniuplate the data to only show 2015 data so that we can align crimes with our new construction data 
violence = Table.read_table("violence.csv")
violence2015 = violence.where("Date", are.containing("2015"))
data2015 = Table.read_table("2015_datasf.csv")
# Samples of both tables
violence.show(3)
data2015.show(3)

In [36]:
# +- 2 blocks are considered to be the vicinity of once space for an address and the unit used for our analysis 
area2blocks = 0.00135
# The code below will let us see how much violence occurs in the vicinities of neighborhoods with net new 
# construction. 0 is the first construction site in the table "data2015". 
violence2015.where('X', are.between(data2015.column('X')[0]- area2blocks, data2015.column('X')[0]+ area2blocks)).where('Y', are.between(data2015.column('Y')[0]- area2blocks, data2015.column('Y')[0]+ area2blocks)).num_rows

26

In [39]:
# We repeat the calculations of seeing how much violence crime there is in these 25 new construction vicinities. 
# The result outputs an array which will later become a column on the construction data set.  
crimelst = make_array()
for i in range(0, 24):
    count = violence2015.where('X', are.between(data2015.column('X')[i]- area2blocks, data2015.column('X')[i]+ area2blocks)).where('Y', are.between(data2015.column('Y')[i]- area2blocks, data2015.column('Y')[i]+ area2blocks)).num_rows
    crimelst = np.append(crimelst, count)

In [40]:
# Here, we use .with_column to add another column called "Number of Crimes" to create a new table using 
# the 2015 construction data and combining it with counts from the violent crime data
data2015crime = data2015.with_column("Number of Crimes", crimelst)
data2015crime.sort("Number of Crimes", descending=True).show()

In [41]:
# Using our new table "data2015crime" we can take the average of the new column to determine 
Newconstructioncrime = np.average(data2015crime.column("Number of Crimes"))
Newconstructioncrime

24.0

In [42]:
# Here we convert square miles into blocks considering a rough average is typically 10 blocks for one mile
SFsquaremiles = 46.87 # Area of SF in Square Miles 
Mileblocks = 10 # Number of blocks in one mile 
SFblocks = SFsquaremiles * Mileblocks * Mileblocks # Number of Square Miles * Blocks in a mile^2 
SFblocks

4687.0

In [43]:
# Here we convert the number of blocks in SF to the number of vicinities which is +- 2 blocks
Areavicinity2blocks = 16 # +- 2 blocks from a location is equivalent to 4 x 4 blocks
Numberofvicinity = SFblocks / Areavicinity2blocks
Numberofvicinity # Number of vicinities in SF
# Here we take the total of amount of violent crimes and divide it by the number of the vicinities to 
# calculate the average crime that exists in the average SF vicinity.
Avgcrimevicinity = violence2015.num_rows / Numberofvicinity
Avgcrimevicinity

43.92745892895242

In [44]:
# On average, when looking at data from 2015, do vicinities (+- 2 blocks from a location) with net new construction
# have less crime? and if so by, how much?
Differencecrime = Avgcrimevicinity - Newconstructioncrime
Differencecrime 
# Difference in the number of crimes in the average vicinity v. a vicinity with new construction.

19.92745892895242

In [75]:
1 / (Avgcrimevicinity / Newconstructioncrime) * 100

54.63552999689152

Conclusion: In 2015, there was less crime in vicinities (+- 2 blocks) with new contruction compared to the average SF vicinity, to the tune of nearly 20 fewer crimes (a 46% decrease). 

Motivation/Notes

This is the second question utilizing datasets for construction and violent crimes in 2015. To complete the analysis to answer question two, we use the "datasceince" library. The goal here is to ultimately figure out if areas with new construction in 2015 had more crime or not utilizing the given coordinates of every violent crime committed in San Francsico. The real challenge in solving this question is defining, categorizing and manipulating the data so it can be compared side by side at scale. We decided to define an area with new construction as a vicinity which is +-2 blocks from a lattitude and location point (a corner on a block in SF). Each vicinity was about 16 (4 Wide x 4 Long) square blocks.

The code mainly deals with manipulating the Violence data set but to answer the question we need external data points regarding the city of San Francisco. We first found the total area of San Francisco and then we converted that into blocks and then into vicinities. We then divided the vicinities by the total violent crimes in 2015 to get a good idea of how much crime occured on average on a typical vicinity in SF.

We then needed to figure out how much crime occured in vicinities with new construction in 2015 so that we could compare the two. We used violent crimes data that had latitudes and longitudes and aggegated/counted the ones that fit into the +- 2 block which is latitude(x) +- 0.00135 and longitude(y) +- 0.00135 from the given latitudes and longitudes in the construction data set. We then used a for loop to calculate this for each latitude and longitude in the net new construction data table. This count was then placed into the construction data through a new column for easy visibility called "Number of Crimes". The average was then taken of the column and we were able to then subtract the average amount of crimes that happened on a typical vicinity in SF by the average amount of crimes that happened in a construction vicinity. We found that there was less crime in new construction vicinities by a significant amount. We can't neccesarily prove that the construction is the cause of it but through this historical data we can see that vicinities with new construction tended to have less crime.